<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin | All Students</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <script src="https://kit.fontawesome.com/907e9d102e.js" crossorigin="anonymous"></script>

    <link href="stylesheets/css/font-awesome.min.css" rel="stylesheet">
    <script src="javascripts/d3.min.js"></script>

    <script src="javascripts/jquery-3.5.1.min.js"></script>
    <script src="javascripts/main.js"></script>

   
    <link rel="stylesheet" href="stylesheets/d3style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/styleadmin.css">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li> <a href="dashboard"> <i class="fas fa-home"></i> Dashboard</a> </li>
                <li> <a href="#studentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fas fa-user-friends"></i> Students</a>
                    <ul class="collapse list-unstyled" id="studentSubmenu">
                        <li> <a href="all-students">All Students</a></li>
                    </ul>
                </li>

                <li> <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fas fa-users"></i> Manage Users</a>
                    <ul class="collapse list-unstyled" id="userSubmenu">
                        <li> <a href="register-user">Register user</a> </li>

                    </ul>
                </li>
                <li> <a href="#mentorSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fas fa-user-friends"></i> Mentors</a>
                    <ul class="collapse list-unstyled" id="mentorSubmenu">
                        <li> <a href="register-mentor">Register a mentor</a> </li>

                    </ul>
                </li>
            </ul>

            <div class="sidebar-header">
                <img src="images/code queen.png" class="logo-header">
            </div>
        </nav>
        <div class="content">
            <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" id="navnav">
                <!-- toggle buttons -->
                <button type="button" id="sidebarCollapse" class="btn"> <i class="fa fa-align-justify"></i> </button>
                <a class="navbar-brand welcome-admin" href="#">WELCOME ADMIN </a>
                <button id="toggler-tog" class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle name-link" href="#" data-toggle="dropdown"><i
                                    class="fas fa-user"></i> Name</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"><i class="fas fa-user"></i> My Profile</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-key"></i> Log out </a></li>
                            </ul>
                        </li>

                        <li class="nav-item"> <a class="nav-link" href="#"><i class="fas fa-envelope"></i> </a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#"><i class="fas fa-bell"></i> </a> </li>
                    </ul>
                </div>
            </nav>
            <div class="content-wrapper">
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#studentModal">
                    Launch demo modal
                </button> -->

                <!-- Modal -->
                <div class="modal fade" id="studentModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Edit Student</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id='application-form' name="form" method="POST" action="/form" class="input"
                                    autocomplete="on">
                                    <div class='form-input'>
                                        <label id='email-label'>Email:</label>
                                        <input type='email' id='email' name="email" placeholder='Enter your email'
                                            class='form-input-size' required />
                                    </div>
                                    <div class='form-input'>
                                        <label id='name-label'>Firstname:</label>
                                        <input type='text' id='firstName' name="firstname"
                                            placeholder='Enter your firstname' class='form-input-size' required />
                                    </div>
                                    <div class='form-input'>
                                        <label id='name-label'>Lastname:</label>
                                        <input type='email' id='lastName' name="lastname"
                                            placeholder='Enter your lastname' class='form-input-size' required />
                                    </div>
                                    <div class='form-input'>
                                        <label id='number-label'>Phone number
                                        </label>
                                        <input type="number" id="phoneNumber" name="phone"
                                            placeholder="Enter your contact" size="10" class='form-input-size'
                                            required />
                                    </div>

                                    <div class='form-input'>
                                        <label id='birthday-label'>Date of birth:</label>
                                        <input type='date' id='dob' name="birthdate" class='form-input-size' required />
                                    </div>

                                    <div class='form-input'>
                                        <p>status</p>
                                        <select id='status' name="status" class='form-input-size' required>
                                            <option disabled selected value>Select status</option>
                                            <option value='married'>Married</option>
                                            <option value='single'>Single</option>
                                            <option value='divorced'>Divorced</option>
                                            <option value='separated'>Separated</option>
                                            <option value='single parent'>Single Parent</option>
                                        </select>
                                    </div>
                                    <div class='form-input'>
                                        <p>occupation</p>
                                        <select id='occupation' name="occupation" class='form-input-size' required>
                                            <option disabled selected value>Select occupation</option>
                                            <option value='employed'>connected/Employed</option>
                                            <option value='unemployed'>Unemployed</option>
                                            <option value='Student'>Student</option>
                                        </select>
                                    </div>
                                    <div class='form-input'>
                                        <label id='name-label'>HTML Score:</label>
                                        <input type='number' id='htmlScore' name="htmlScore" placeholder='Enter Score'
                                            class='form-input-size' required />
                                    </div>
                                    <div class='form-input'>
                                        <label id='name-label'>CSS Score:</label>
                                        <input type='number' id='cssScore' name="cssScore" placeholder='Enter Score'
                                            class='form-input-size' required />
                                    </div>
                                    <div class='form-input'>
                                        <label id='name-label'>JavaScript Score:</label>
                                        <input type='number' id='jsScore' name="jsScore" placeholder='Enter Score'
                                            class='form-input-size' required />
                                    </div>
                                    <div class='form-input'>
                                        <label for="cars">Rate Student:</label>
                                        <select id='occupation' name="occupation" class='form-input-size' required>
                                            <option disabled selected value>Rate</option>
                                            <option value='1'>1</option>
                                            <option value='2'>2</option>
                                            <option value='3'>3</option>
                                            <option value='4'>4</option>
                                            <option value='5'>5</option>
                                        </select>
                                    </div>


                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <h2>STUDENT INFORMATION</h2>
                <div class="search-filter form-input">
                    <label for="cars">Filter your search:</label>
                    <select name="cars" id="cars">
                        <option >Select Option</option>
                        <option value="audi">Student</option>
                        <option value="audi">Alumni</option>
                    </select>
                    <input type="submit" value="Submit">

                </div>
                <!-- filter which students to display according to cohort, status[student, graduated, alumni] -->
                <div class="container-fluid">

                    <div id='student-table'>


                    </div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="javascripts/filterStudentData.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
     <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/myd3.js"></script>
</body>

</html>