<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin | Edit Student</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style-admin.css">
    <script src="https://kit.fontawesome.com/907e9d102e.js" crossorigin="anonymous"></script>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- <script src="https://d3js.org/d3.v6.min.js"></script> -->

    <script src="./js/d3.min.js"></script>
    <script src="./jquery-3.5.1.min.js"></script>
    <script src="./js/main.js"></script>
    
    <link rel="stylesheet" href="./css/d3style.css">
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li> <a href="dashboard.html"> <i class="fas fa-home"></i> Dashboard</a> </li>
                <li> <a href="#studentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-user-friends"></i> Students</a>
                    <ul class="collapse list-unstyled" id="studentSubmenu">
                        <!-- <li> <a href="register-student.html">Students</a> </li> -->
                        <li> <a href="all-students.html">All Students</a></li>
                    </ul>
                </li>
               
                <li> <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-users"></i> Manage Users</a>
                    <ul class="collapse list-unstyled" id="userSubmenu">
                        <li> <a href="register-user.html">Register user</a> </li>
                        
                    </ul>
                </li>
                <li> <a href="#jobSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-book"></i> Job Board</a>
                    <ul class="collapse list-unstyled" id="jobSubmenu">
                        <li> <a href="post-job.html">Post a job</a> </li>
                        <li> <a href="all-jobs.html">View all jobs</a> </li>
                    </ul>
                </li>
                <li> <a href="#mentorSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-user-friends"></i> Mentors</a>
                    <ul class="collapse list-unstyled" id="mentorSubmenu">
                        <li> <a href="register-mentor.html">Register a mentor</a> </li>
                        
                    </ul>
                </li>
            </ul>

            <div class="sidebar-header">
                <img src="images/code queen.png" class="logo-header">
            </div>
        </nav>
        <div class="content">
            <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" id="navnav"> 
                <!-- toggle buttons -->
                <button type="button" id="sidebarCollapse" class="btn"> <i class="fa fa-align-justify"></i> </button> 
                <a class="navbar-brand welcome-admin" href="#">WELCOME ADMIN </a>
                <button id="toggler-tog" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle name-link" href="#" data-toggle="dropdown"><i class="fas fa-user"></i> Name</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"><i class="fas fa-user"></i> My Profile</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-key"></i> Log out </a></li>
                            </ul>
                        </li>

                        <li class="nav-item"> <a class="nav-link" href="#"><i class="fas fa-envelope"></i> </a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#"><i class="fas fa-bell"></i> </a> </li>
                    </ul>
                </div>
            </nav>
            <div class="content-wrapper">

                <div class="container-fluid">
                    <form action="">
                        <div class="form-group">
                          <label for="name">Name:</label>
                          <input type="name" class="form-control" placeholder="Enter name" id="name">
                        </div>
                        <div class="form-group">
                            <label for="age">Age:</label>
                            <input type="age" class="form-control" placeholder="Enter age" id="age">
                        </div>
                        <div class="form-group">
                          <label for="email">Email:</label>
                          <input type="email" class="form-control" placeholder="Enter email" id="email">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone number:</label>
                            <input type="number" class="form-control" placeholder="Enter phone number" id="phone">
                        </div>
                        <div class="form-group">
                            <label for="dob">Date of birth:</label>
                            <input type="text" class="form-control datepicker" placeholder="Select Date" id="dob">
                        </div>
                        <div class="form-group">
                            <label for="cohort">Cohort:</label>
                            <input type="number" class="form-control" placeholder="Enter Cohort" id="cohort">
                        </div>
                        <div class="form-group">
                            <label for="status">Status:</label>
                            <select id="status">
                                <option value="Student">Student</option>
                                <option value="Alumni">Alumni</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="html-mark">HTML:</label>
                            <input type="number" class="form-control" placeholder="Enter Marks" id="html-mark">
                        </div>
                        <div class="form-group">
                            <label for="css-mark">CSS:</label>
                            <input type="number" class="form-control" placeholder="Enter Marks" id="css-mark">
                        </div>
                        <div class="form-group">
                            <label for="js-mark">JavaScript:</label>
                            <input type="number" class="form-control" placeholder="Enter Marks" id="js-mark">
                        </div>
                        <div class="form-group">
                            <label for="rating">Rate Student:</label>
                            <select id="rating">
                                <option value="Excellent">Excellent</option>
                                <option value="Above Average">Above Average</option>
                                <option value="Below Average">Below Average</option>
                            </select>
                        </div>
                        <div class="form-group form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Remember me
                          </label>
                        </div>
                        <button type="submit" class="btn btn-dashboard btn-danger">Submit</button>
                        <button type="submit" class="btn btn-dashboard btn-primary">Exit</button>
                      </form> 
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>

   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="./js/myd3.js"></script>
</body>
</html>