body {
    background-image: url("BGimage.jpg");
    background-color: rgb(255, 174, 0);
    height: 100 vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}

.container {
    width:400px;
    padding:10% 0 0;
    margin: auto;
}

.logo {
width: 600px;
margin: 0 auto;
background-color:lightgrey;
/* background-color: #2c5265d5; */
}

.boxarea {
    background-color: rgb(133, 117, 96);
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

button {
background-color:#52c2c8;
}
