<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  
</head>
<body>
    <div class="logo">
		<img src="images/Code Queen Logo.png" alt="CodeQueen logo" width="200px">
	</div>
    <img src="" alt="" srcset="">
<div class="container">
    <h1>Joyce Thereza Akite.</h1>
    <div class="table-responsive-sm">           
 <table class=" table-bordered">
      <caption></caption>
    <thead>
      <tr>
        <th>Html Score</th>
        <th>Css Score</th>
        <th>JavaScript Score</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>80</td>
        <td>75</td>
        <td>45</td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>

</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
