body
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url("../images/code\ queens.jpg");
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    width: 100%;
      
}
.cover
{
    background-color: #f3ac3a;
    border-radius: 30px;
    width: 50%;
    height: 70%;
    margin: auto;

}

.container
{
    background-color: white;
    text-align: center;
    margin: auto;
    width:  80%;
    height: 280px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(25, 26, 25);

}
.title
{
    color:#231f20 rgba(35,31,32,255);
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 1.5rem;
}
.ifield
{
    height: 50px;
    border: 1px solid #dddddd;
	background:white;
    outline: none;
    border-radius: 30px;
    padding: 10px 30px;
    width: 80%;
    font-size: 1rem;
    margin-bottom: 30px;

}
#password
{
    margin-top: 30px;
}

.buttons
{
    align-self: center;
}

.submit
{
    width: 80%;
    height:50px;
    font-weight: bold;
    background: darkgray;
    border-radius: 30px;
    color:white;
    padding: 10px 30px;
	outline: none;
	cursor: pointer;
	font-size: 1.2rem;
	border: none;
   
}
.submit:active
{
    transform:scale(0.7);
}

/* MediaQuerries  */

@media only screen and (max-width: 780px) {
    .cover {
		width: 95%;
        margin: auto;
    }

	.container {
        width: 90%; 
        margin: auto;
    }
    

    }
