body{
      
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url("../images/code\ queens.jpg");
	padding: relative;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    font-family: Helvetica, sans-serif;
	height: 100vh;
	width: 100%;
   
  
}
	.logo 
	{
	display: flex;
	justify-self: start;
	width: 200px;
	height: 150px;

	}
.form-space 
{
    background:#f3ac3a; 
	border-radius: 30px;
    width: 40%;
    height: 70%;
    margin: auto;
    padding-top: 12px;
	

}
 
.title
{
    font-size: 3rem;
    font-weight: bold;
	text-align: center;
    margin-bottom: 1rem;
	color:#231f20 rgba(35,31,32,255);

}

.form-area{
    background-color: #fff;
    margin: 20px auto;
    padding: 25px 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(25, 26, 25);
    width:  70%;
    height: 380px;
   
}

.form-space .item{
   
	border-radius: 20px;
    margin-bottom: 15px;
    padding: 10px 30px;
    display: block;
	width: 100%;
	box-sizing: border-box;	
	border: 1px solid #dddddd;
	background:white;
	transition: background 0.2s, border-color 0.2s;
	outline: none;
}
#register-btn
{
    width: 100%;
	padding: 10px 30px;
	font-weight: bold;
	color:white;
	outline: none;
	cursor: pointer;
	background:darkgray;
	font-size: 1.2rem;
	border: none;
	border-radius: 30px;
	margin-top: 1.2rem;
}
#register-btn:active
{
    transform:scale(0.7);
}


/* MediaQuerries */

@media only screen and (max-width: 600px) {
    .form-space {
		width: 95%;
        margin: auto;
    }

	.form-area {
        width: 90%;
		margin: auto; 
    }
 
}



